.dash {
  box-sizing: border-box;
  width: 100%;
  color: #333;
}

.dash * {
  box-sizing: border-box;
  width: 100%;
}

.dash-section {
  padding: 10px;
  border: 2px solid #666;
  border-radius: 5px;
  margin: 5px 0;
}

.dash-header {
  color: #666;
  padding-bottom: 5px;
  margin: 0;
  cursor: pointer;
}

.dash-row {
  display: flex;
  flex-flow: row wrap;
  border-top: 1px solid #666;
  padding: 5px 0;
}

.dash-item {
  flex: 0 0 100%;
  max-width: 100%;
  margin: 2.5px 0;
  padding: 0 2.5px;
}

.dash-label {
  color: #666;
}

.dash-content {
  padding: 2.5px;
  border: 1px solid #333;
  border-radius: 2.5px;
}

.dash-ic {
  color: #fff !important;
  background-color: #333 !important;
  border-color: #fff !important;
}

.dash-ic * {
  color: #fff !important;
  background-color: #333 !important;
  border-color: #fff !important;
}

.dash-tl {
  opacity: 0.75;
}

.dash-tl * {
  opacity: 0.75;
}

@media (min-width: 576px) {
  .dash-item {
    flex: 1 0 0;
  }

  .fsl-12 {
    flex: 0 0 100%;
  }

  .fsl-6 {
    flex: 0 0 50%;
  }
}

@media (min-width: 768px) {
  .dash-item {
    flex: 0 0 100%;
  }
}

@media (min-width: 992px) {
  .dash-item {
    flex: 1 0 0;
  }

  .fsl-12 {
    flex: 0 0 100%;
  }

  .fsl-6 {
    flex: 0 0 50%;
  }
}
