<div id="p-academics" class="p-section">
  <h2>Test Scores and GPA</h2>
  {% if base[0].type == 'FR' or base[0].type == 'DC' %}
  <div class="p-expandable">
    <div class="p-row p-xcontrol" title="Display official ACT scores" tabindex="0">
      <h3 class="p-xlabel">ACT (Official)</h3>
      {!xicon.svg!}
    </div>
    <div class="p-table">
      {% if act.size > 0 %}
      {% for score in act %}
      <div class="p-tablerow">
        <div class="p-row">
          <div class="p-col"><strong>Test Date</strong></div>
          <div class="p-col"><strong>{{score.date}}</strong></div>
        </div>
        <div class="p-row">
          <div class="p-col">Composite</div>
          <div class="p-col">{{score.total}}</div>
        </div>
        <div class="p-row">
          <div class="p-col">English</div>
          <div class="p-col">{{score.score1}}</div>
        </div>
        <div class="p-row">
          <div class="p-col">Math</div>
          <div class="p-col">{{score.score2}}</div>
        </div>
        <div class="p-row">
          <div class="p-col">Reading</div>
          <div class="p-col">{{score.score3}}</div>
        </div>
        <div class="p-row">
          <div class="p-col">Science</div>
          <div class="p-col">{{score.score4}}</div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="p-tablerow">
        <strong>Official scores not on file.</strong>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if base[0].type == 'FR' or base[0].type == 'DC' %}
  <div class="p-expandable">
    <div class="p-row p-xcontrol" title="Display official SAT scores" tabindex="0">
      <h3 class="p-xlabel">SAT (Official)</h3>
      {!xicon.svg!}
    </div>
    <div class="p-table">
      {% if satr.size > 0 %}
      {% for score in satr %}
      <div class="p-tablerow">
        <div class="p-row">
          <div class="p-col"><strong>Test Date</strong></div>
          <div class="p-col"><strong>{{score.date}}</strong></div>
        </div>
        <div class="p-row">
          <div class="p-col">Total</div>
          <div class="p-col">{{score.total}}</div>
        </div>
        <div class="p-row">
          <div class="p-col">ERW</div>
          <div class="p-col">{{score.score1}}</div>
        </div>
        <div class="p-row">
          <div class="p-col">Math</div>
          <div class="p-col">{{score.score2}}</div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="p-tablerow">
        <strong>Official scores not on file.</strong>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div class="p-expandable">
    <div class="p-row p-xcontrol" title="Display other official scores" tabindex="0">
      <h3 class="p-xlabel">Other Tests (Official)</h3>
      {!xicon.svg!}
    </div>
    <div class="p-table">
      {% if other_scores.size > 0 %}
      {% for score in other_scores %}
      <div class="p-tablerow">
        <div class="p-row">
          <div class="p-col"><strong>Test</strong></div>
          <div class="p-col"><strong>{{score.type}}</strong></div>
        </div>
        {% if score.subtype.size > 0 %}
        <div class="p-row">
          <div class="p-col"><strong>Type</strong></div>
          <div class="p-col"><strong>{{score.subtype}}</strong></div>
        </div>
        {% endif %}
        <div class="p-row">
          <div class="p-col"><strong>Test Date</strong></div>
          <div class="p-col"><strong>{{score.date}}</strong></div>
        </div>
        <div class="p-row">
          <div class="p-col">Score</div>
          <div class="p-col">{{score.total}}</div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="p-tablerow">
        <strong>Official scores not on file.</strong>
      </div>
      {% endif %}
    </div>
  </div>
  {% if base[0].type == 'FR' or base[0].type == 'DC' %}
  <div class="p-expandable">
    <div class="p-row p-xcontrol" title="Display official cumulative high school GPAs" tabindex="0">
      <h3 class="p-xlabel">HS GPA (Official)</h3>
      {!xicon.svg!}
    </div>
    <div class="p-table">
      {% if hs.size > 0 %}
      {% for school in hs %}
      <div class="p-tablerow">
        <div class="p-row">
          <div class="p-col">{{school.name}}</div>
          <div class="p-col">{{school.gpa}}</div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="p-tablerow">
        <strong>Official transcripts not on file.</strong>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if base[0].type == 'FR' or base[0].type == 'DC' or base[0].type == 'TR' %}
  <div class="p-expandable">
    <div class="p-row p-xcontrol" title="Display self-reported information" tabindex="0">
      <h3 class="p-xlabel">Self-Reported</h3>
      {!xicon.svg!}
    </div>
    <div class="p-table">
      {% if base[0].type == 'FR' or base[0].type == 'DC' %}
      <div class="p-tablerow">
        <div class="p-row">
          <div class="p-col">ACT</div>
          <div class="p-col">{{sr[0].act}}</div>
        </div>
      </div>
      <div class="p-tablerow">
        <div class="p-row">
          <div class="p-col">SAT</div>
          <div class="p-col">{{sr[0].sat}}</div>
        </div>
      </div>
      <div class="p-tablerow">
        <div class="p-row">
          <div class="p-col">GPA</div>
          <div class="p-col">{{sr[0].hsgpa}}</div>
        </div>
      </div>
      {% elsif base[0].type == 'TR' %}
      <div class="p-tablerow">
        <div class="p-row">
          <div class="p-col">GPA</div>
          <div class="p-col">{{sr[0].colgpa}}</div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if base[0].type == 'FR' or base[0].type == 'DC' %}
  <span class="p-button">
    <a href="/apply/form?id=982d3236-7505-610e-293e-9ac12624240d" target="_blank">Update Self-Reported Test Scores or GPA</a>
  </span>
  {% endif %}
</div>
