{% if staff.size > 0 %}
<div id="p-counselor" class="p-section">
  <img class="staff-portrait" src="/images/staff/{{staff[0].image}}.jpg" alt="Counselor portrait">
  <h4>
    <span class="staff-name">{{staff[0].preferred}} {{staff[0].last}}</span>
    <span class="staff-title">{{ staff[0].title | upcase }}</span>
  </h4>
  <p>Question about your next steps? I'm here to help.</p>
  <ul class="link-list">
    <li><a href="mailto:{{ staff[0].email | url_encode }}">{{staff[0].email}}</a></li>
    {% if staff[0].phone.size > 0 %}
    <li><a href="tel:{{staff[0].phone}}">O: {{staff[0].fphone}}</a></li>
    {% endif %}
    {% if staff[0].mobile.size > 0 %}
    <li><a href="tel:{{staff[0].mobile}}">C: {{staff[0].fmobile}}</a></li>
    {% endif %}
    {% if staff[0].book_link.size > 0 %}
    <li><a style="color: #AD0000;" href="{{staff[0].book_link}}" target="_blank">Schedule an appointment</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
