{% if rel.size > 0 %}
<h1>Edit Relation</h1>
<form id="form_page_newrel" action="/portal/ug_status?cmd=saveRel" method="post">
  <div class="content">
    <input name="cmd" type="hidden" value="saveRel">
    <input name="relation" type="hidden" value="{{rel[0].id}}">
    <div class="form_question" data-required="1">
      <label for="type">Type</label>
      <div class="form_responses">
        <select name="type" required>
          {% for item in rel_types %}
          {% if item.id == rel[0].type %}
          <option value="{{item.id}}" selected>{{item.value}}</option>
          {% else %}
          <option value="{{item.id}}">{{item.value}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form_question" data-required="1">
      <label for="resides">Does this relation reside with you?</label>
      <div class="form_responses">
        <select name="resides" required>
          {% case rel[0].resides %}
          {% when 1 %}
          <option value=""></option>
          <option value="1" selected>Yes</option>
          <option value="0">No</option>
          {% when 0 %}
          <option value=""></option>
          <option value="1">Yes</option>
          <option value="0" selected>No</option>
          {% else %}
          <option value="" selected></option>
          <option value="1">Yes</option>
          <option value="0">No</option>
          {% endcase %}
        </select>
      </div>
    </div>
    <div class="form_question">
      <label for="prefix">Prefix</label>
      <div class="form_responses">
        <select name="prefix">
          <option value="" selected></option>
          {% for item in rel_prefixes %}
          {% if item.value == rel[0].prefix %}
          <option value="{{item.value}}" selected>{{item.value}}</option>
          {% else %}
          <option value="{{item.value}}">{{item.value}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form_question" data-required="1">
      <label for="first">First</label>
      <div class="form_responses">
        <input name="first" type="text" required value="{{rel[0].first}}">
      </div>
    </div>
    <div class="form_question">
      <label for="middle">Middle</label>
      <div class="form_responses">
        <input name="middle" type="text" value="{{rel[0].middle}}">
      </div>
    </div>
    <div class="form_question" data-required="1">
      <label for="last">Last</label>
      <div class="form_responses">
        <input name="last" type="text" required value="{{rel[0].last}}">
      </div>
    </div>
    <div class="form_question">
      <label for="suffix">Suffix</label>
      <div class="form_responses">
        <select name="suffix">
          <option value="" selected></option>
          {% for item in rel_suffixes %}
          {% if item.value == rel[0].suffix %}
          <option value="{{item.value}}" selected>{{item.value}}</option>
          {% else %}
          <option value="{{item.value}}">{{item.value}}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form_question" data-required="1" data-mask="email">
      <label for="email">Email</label>
      <div class="form_responses">
        <input name="email" type="email" onchange="FW.ValidateMask(this, 'email');" required value="{{rel[0].email}}">
      </div>
    </div>
  </div>
  <div class="action">
    <span class="p-button">
      <a href="#" onclick="var form = new FormFiller($('#form_page_newrel')); if(form.Validate()) FW.Lazy.Commit(this);">Save Changes</a>
    </span>
    <span class="p-button">
      <a href="#" onclick="history.replaceState({}, 'Relations', '?cmd=relList'); window.location.reload();">Cancel</a>
    </span>
  </div>
</form>
{% else %}
<h1>Add Relation</h1>
<form id="form_page_newrel" action="/portal/ug_status?cmd=newRel" method="post">
  <div class="content">
    <input name="cmd" type="hidden" value="newRel">
    <input name="relation" type="hidden">
    <div class="form_question" data-required="1">
      <label for="type">Type</label>
      <div class="form_responses">
        <select name="type" required>
          {% for item in rel_types %}
          <option value="{{item.id}}">{{item.value}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form_question" data-required="1">
      <label for="resides">Does this relation reside with you?</label>
      <div class="form_responses">
        <select name="resides" required>
          <option value=""></option>
          <option value="1" selected>Yes</option>
          <option value="0">No</option>
        </select>
      </div>
    </div>
    <div class="form_question">
      <label for="prefix">Prefix</label>
      <div class="form_responses">
        <select name="prefix">
          <option value="" selected></option>
          {% for item in rel_prefixes %}
          <option value="{{item.value}}">{{item.value}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form_question" data-required="1">
      <label for="first">First</label>
      <div class="form_responses">
        <input name="first" type="text" required>
      </div>
    </div>
    <div class="form_question">
      <label for="middle">Middle</label>
      <div class="form_responses">
        <input name="middle" type="text">
      </div>
    </div>
    <div class="form_question" data-required="1">
      <label for="last">Last</label>
      <div class="form_responses">
        <input name="last" type="text" required>
      </div>
    </div>
    <div class="form_question">
      <label for="suffix">Suffix</label>
      <div class="form_responses">
        <select name="suffix">
          <option value="" selected></option>
          {% for item in rel_suffixes %}
          <option value="{{item.value}}">{{item.value}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form_question" data-required="1" data-mask="email">
      <label for="email">Email</label>
      <div class="form_responses">
        <input name="email" type="email" onchange="FW.ValidateMask(this, 'email');" required>
      </div>
    </div>
  </div>
  <div class="action">
    <span class="p-button">
      <a href="#" onclick="var form = new FormFiller($('#form_page_newrel')); if(form.Validate()) FW.Lazy.Commit(this);">Submit</a>
    </span>
    <span class="p-button">
      <a href="#" onclick="history.replaceState({}, 'Relations', '?cmd=relList'); window.location.reload();">Cancel</a>
    </span>
  </div>
</form>
{% endif %}
