<div id="p-relation-form" class="p-section">
  <div class="p-popup-close" onclick="FW.Dialog.Unload();" title="Return to relationship list">X</div>
  {% if rel.size > 0 %}
  <h3>You are editing the relation record for {{rel[0].name}}.</h3>
  <div id="form_c3dbffa1-2ff4-f8ee-43c6-9f33c1a5d723" style="height: 533px;">Loading...</div>
  {% capture rqstr %}sys:relationship:id={{rel[0].id}}{% if rel[0].type.size > 0 %}&amp;sys:relationship:type={{rel[0].type}}{% endif %}{% if rel[0].prefix.size > 0 %}&amp;sys:relationship:prefix={{rel[0].prefix | url_encode}}{% endif %}{% if rel[0].first.size > 0 %}&amp;sys:relationship:first={{rel[0].first | url_encode}}{% endif %}{% if rel[0].middle.size > 0 %}&amp;sys:relationship:middle={{rel[0].middle | url_encode}}{% endif %}{% if rel[0].last.size > 0 %}&amp;sys:relationship:last={{rel[0].last | url_encode}}{% endif %}{% if rel[0].suffix.size > 0 %}&amp;sys:relationship:suffix={{rel[0].suffix | url_encode}}{% endif %}{% if rel[0].email.size > 0 %}&amp;sys:relationship:email={{rel[0].email | url_encode}}{% endif %}{% endcapture %}
  <script async="async" src="/register/?id=c3dbffa1-2ff4-f8ee-43c6-9f33c1a5d723&amp;output=embed&amp;div=form_c3dbffa1-2ff4-f8ee-43c6-9f33c1a5d723&amp;{{rqstr}}"></script>
  {% else %}
  <h3>New Relation</h3>
  <div id="form_c3dbffa1-2ff4-f8ee-43c6-9f33c1a5d723" style="height: 533px;">Loading...</div>
  <script async="async" src="/register/?id=c3dbffa1-2ff4-f8ee-43c6-9f33c1a5d723&amp;output=embed&amp;div=form_c3dbffa1-2ff4-f8ee-43c6-9f33c1a5d723"></script>
  {% endif %}
</div>
