<div id="p-checklists" class="p-section">
  <h2>Your Checklists</h2>
  <ul>
    <li>Application</li>
    <li>Competitive</li>
    <li>Gateway</li>
  </ul>
  <div>
    <p>Please complete the following <strong>Application Checklist</strong> items. Those marked with a red X are required and not yet completed. Some items may take 30-60 minutes to update.</p>
  </div>
  <div>
    <p>Our records indicate you qualify to apply for at least one competitive scholarship program. Each program has its own list of requirements, which are listed as checklist items under each program's blue, expandable header. Some items require forms or uploads, which are accessible by clicking the links in the checklist. Please note:</p>
    <ul>
      <li>The list of competitive programs for which you qualify to apply will appear based on your self-reported or verified test score(s) and GPA. Superscores are not accepted at this time. <a href="/apply/form?id=982d3236-7505-610e-293e-9ac12624240d" target="_blank"><strong>View your test score(s) and GPA.</strong></a></li>
      <li>Completion of all checklist items under a program-specific header is required to be considered for that particular program.</li>
      <li>All competitive programs require the submission of a <strong>student involvement r&eacute;sum&eacute;</strong>. Once you upload a r&eacute;sum&eacute;, the r&eacute;sum&eacute; checklist item will be marked as "received" within each program checklist.</li>
      <li>Unless otherwise noted, the deadline to complete all items for any competitive scholarship program for the current application cycle is <strong>December 15</strong>.</li>
    </ul>
  </div>
  <div>
    <p>Please complete the following <strong>Gateway Checklist</strong> items. Some items require forms, which are linked with the checklist below. Those marked with a red X are required and not yet completed. Some items may take 30-60 minutes to update.</p>
  </div>
</div>
